body {
  margin: 0 auto;
  height: 100vh;
  background-color: #909997;
}
h2 {
  display: flex;
  justify-content: center;
  align-items: center;
}

form {
  background-color: #88c8ee;
  width: 320px;
  margin: 0 auto;
  justify-content: center;
  align-items: center;
  padding: 50px;
  border: solid 1px;
  box-sizing: border-box;
  border-radius: 20px;
  height: auto;
}

.subtitle {
  color: #1a2228;
  font-family: sans-serif;
  font-size: 16px;
  font-weight: 600;
  left: 20px;
  position: relative;
}

.input-container {
  height: 50px;
  position: relative;
  width: 100%;
}

label {
  color: #65657b;
  font-family: sans-serif;
  left: 20px;
  line-height: 14px;
  position: absolute;
  top: 20px;
}
input {
  color: #65657b;
  font-family: sans-serif;
  left: 50%;
  line-height: 14px;
  position: absolute;
  top: 17px;
  width: 50px;
}

#food {
  color: #65657b;
  font-family: sans-serif;
  left: 50%;
  line-height: 14px;
  position: absolute;
  top: 19px;
  width: 60px;
}
button {
  position: relative;
  left: 30%;
  top: 10px;
  width: 70px;
}

#myChart {
  position: relative;
  height: 30vh;
}
#logValue {
  width: 500px;
  height: 40px;
  position: relative;
  box-sizing: border-box;
  border-radius: 20px;
  left: 35%;
  font-family: sans-serif;
  font-size: 28px;
  font-weight: 600;
  text-align: center;
  background-color: #ffe7e2;
}
#card {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-evenly;
}
.todo {
  background-color: #88c8ee;
  width: 420px;
  margin: 5px;
  justify-content: center;
  align-items: center;
  padding: 50px;
  border: solid 1px;
  box-sizing: border-box;
  border-radius: 20px;
  height: auto;
}

.h2_class,
.para_title {
  color: #65657b;
  font-family: sans-serif;
}

.final_todo {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-evenly;
  font-size: 28px;
}
